<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centered Form</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/registration.css" data-th-href="@{/css/registration.css}" />
</head>
<body>
<div class="registration-containter">
    <div class="form-box">
        <img src="/images/cornflower/Ouroboros.png" alt="Logo" class="form-logo">
        <h2>Sing in to Daily.</h2>
        <form id="login-form" method="post" th:action="@{/process_login}">
            <input type="text" placeholder="Login" name="username" required>
            <input type="password" placeholder="Password" name="password" required>
            <button class="btn primary registration" type="submit">Sign in</button>
            <button class="btn primary forget">Forget your password?</button>
        </form>
    </div>
</div>
</body>
</html>
